#mast-head {
	border: 1px dashed black;
	width: 100%;
	/*align-items: center;*/
	margin-top: 50px;
}
.main_photo{
	height: 200px;
	width: 200px;
	z-index: 3;
	position: relative;
	left: 45%;
}

.ribbon_top{
	width: 80%;
	height: 80px;
	z-index: 1;
	bottom: 30px;
	position: relative;
	/*right: 4%;*/
}

#links_right a{
	float: right;
	z-index: 2;
	/*position: absolute;*/
}
#links_left a{
	float: left;
	z-index: 2;
	/*position: absolute;*/
}

.body_image{
	height: 200px; 
	width: 200px;
}

.bottom_pictures img{
	height: 100px;
	width: 100px;
}