#mast-head {
	border: 1px dashed black;
	width: 100%;
	margin: auto;
	margin-top: 50px;
	position: absolute;
}
.main_photo{
	height: 200px;
	width: 200px;
	z-index: 3;
	position: relative;
	left: 42%;
}

.ribbon_top{
	width: 80%;
	height: 80px;
	z-index: 1;
	bottom: 30px;
	position: relative;
	right: 6%;
}

.links{
	z-index: 2;
	position: absolute;
}

#links_right a{
	float: right;

	
}
#links_left a{
	float: left;


}
.content{
	border: 1px dotted black;
	width: 60%;
	
	margin: auto;
}

.body_image{
	height: 200px; 
	width: 200px;
}

.bottom_pictures img{
	height: 100px;
	width: 100px;
}
.bottom_ribbon img{
	width: 80%;
	height: 80px;
}
.bottom_ribbon{
	margin: auto;
}
